<nav class="nav--element" id="nav">

  <div class="menu--toggle">
    <div class="menu--open nav--toggle">

      <div class="logo">
        <a href="#">
          <h1 class ="logo--header">
            logo
          </h1>
          <div class="mask"></div>
        </a>
      </div>
      <div class="bars">
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
      </div>
    </div>

    <div class="menu--close nav--toggle">
      {% include nav-close.html %}
    </div>

  </div>

  <div class="menu--content">

    <div class="menu--content--close nav--toggle">
      {% include nav-close.html %}
    </div>

    <div class="menu--content--main">

      <div class="menu--main--wrapper">

      <div class="menu--top">
        <a href="{{site.url}}" class="have--slash site--links">
          <span class="slash">/</span>
          <span>home</span>
        </a>
      </div>

      <div class="menu--primary flexwrapper">
        <div class="menu--content--level--1 column">
          <ul class="primary--menu">
            {% for link in site.main-menu %}
              {% if link.submenu != null %}

                <li class="has--submenu">
                  <a href="{{link.url}}" data--link="{{link.data}}" title="{{link.label | capitalize}}" class="nav--link">{{link.label}}</a>
                  <div class="primary--submenu">
                    <ul>
                      {% for sub in link.submenu %}
                        <li>
                          <a href="{{sub.url}}" title="{{sub.label | capitalize}}">{{sub.label}}</a>
                        </li>
                      {% endfor %}
                    </ul>
                  </div>
                 </li>

              {% else %}
              <li>
                <a href="{{link.url}}" title="{{link.label | capitalize}}" class="nav--link">{{link.label}}</a>
              </li>
              {% endif %}
            {% endfor %}
          </ul>
        </div>
        <div class="menu--content--level--2 column"></div>
      </div>


      <div class="menu--secondary">
        <ul class="secondary--menu flex--row">
          {% for link in site.secondary-menu %}
            <li>
              <a href="{{link.url}}" title="{{link.label | capitalize}}" class="site--links">{{link.label}}</a>
            </li>
          {% endfor %}
        </ul>
      </div>

      </div>

    </div>

    {% include nav-aside.html %}

  </div>

</nav>

{% include modal.html %}
