.flex--row {
  lost-flex-container: column;
  @include laptop {
    flex-direction: row;
  }
}

.flex--column {
  lost-flex-container: column;
}

.flex--column--center {
  lost-flex-container: column;
  justify-content: center;
  align-items: center;
}

.column {
  display: block;
  position: relative;
  @include laptop {
    lost-column: 1/2 0 2rem;
  }
}


.unscrollable {
  overflow: hidden;
  height: 100vh;
}

.full--container {
  width: 100vw;
  height: 100vh;
  position: fixed;
}


.flexwrapper {
  margin: .25rem 0 .75rem 0;
  @include laptop {
    lost-flex-container: row;
    margin: 1rem 0 1.5rem 0;
  }
}

ul.primary--menu li {
  // line-height: 4rem !important;
}

// ul.secondary--menu li {
//   line-height: .5rem;
// }

.site--links {
  text-transform: uppercase;
  font-weight: 700;
  transition: color .3s $cubic-bezier;
  @include beforeSiteLink;
  font-size: .75rem;
}

.nav--link {
  line-height: 1.3;
  text-transform: capitalize;
  font-weight: 600;
  transition: padding .3s $cubic-bezier, color .3s $cubic-bezier;
  display: inline-flex;
  align-items: center;
  font-size: 6.1vw;
  position: relative;
  @include beforeNavLink;

  @include tablet {
    font-size: 2rem;
  }

  @include tablet {
    font-size: 3.54vw;
    line-height: 1.35;
  }

  @include desktop {
    font-size: 2.3vw;
  }
}

.have--slash {
  display: inline-block;
  .slash {
    position: relative;
    top:-1px;
    margin-right: .05rem;
    margin-right: -1px;
  }
}
